<a href="https://colab.research.google.com/github/Thalisson42/PythonEstudos/blob/main/Exerc%C3%ADcio01_An%C3%A1lise_de_Dados_Logs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dados um conjunto de dados que possuem todas as requisições HTTP, no mês de julho, para o servidor da NASA Kennedy Space Center WWW na Flórida para um período específico, você fará uma análise de dados a seguir.

Os conjuntos de dados representam logs que estão em arquivos ASCII com uma linha por requisição com as 
seguintes colunas:

    • Host fazendo a requisição. Um hostname quando possível, caso contrário o endereço de internet se o nome não puder ser identificado.
    • Timestamp no formato "DIA/MÊS/ANO:HH:MM:SS TIMEZONE"
    • Requisição (entre aspas)
    • Código do retorno HTTP
    • Total de bytes retornados

Exemplos de registro do arquivo:

 

* 199.72.81.55 - - [01/Jul/1995:00:00:01 -0400] "GET history/apollo/ HTTP/1.0" 200 6245
* unicomp6.unicomp.net - - [01/Jul/1995:00:00:06 -0400] "GET /shuttle/countdown/ HTTP/1.0" 200 3985
* netport-27.iu.net - - [01/Jul/1995:00:10:19 -0400] "GET /pub/winvn/readme.txt HTTP/1.0" 404 -


**Use Python com Pandas para descobrir as seguintes informações: **

    • Número de hosts únicos.
    • O total de erros 404.
    • As 5 URLs que mais causaram erro 404.
    • Quantidade de erros 404 por dia.
    • O total de bytes retornados.

In [ ]:
! git clone https://github.com/leonardoamorim/aulapython.git

fatal: destination path 'aulapython' already exists and is not an empty directory.

In [ ]:
! gunzip aulapython/NASA_access_log_Jul95.gz

gzip: aulapython/NASA_access_log_Jul95.gz: No such file or directory

In [ ]:
! wc -l aulapython/NASA_access_log_Jul95

1891714 aulapython/NASA_access_log_Jul95

In [ ]:
! head -n 5000 aulapython/NASA_access_log_Jul95 > dataset_julho

In [ ]:
! wc -l dataset_julho

5000 dataset_julho

In [ ]:
! head dataset_julho

199.72.81.55 - - [01/Jul/1995:00:00:01 -0400] "GET /history/apollo/ HTTP/1.0" 200 6245
unicomp6.unicomp.net - - [01/Jul/1995:00:00:06 -0400] "GET /shuttle/countdown/ HTTP/1.0" 200 3985
199.120.110.21 - - [01/Jul/1995:00:00:09 -0400] "GET /shuttle/missions/sts-73/mission-sts-73.html HTTP/1.0" 200 4085
burger.letters.com - - [01/Jul/1995:00:00:11 -0400] "GET /shuttle/countdown/liftoff.html HTTP/1.0" 304 0
199.120.110.21 - - [01/Jul/1995:00:00:11 -0400] "GET /shuttle/missions/sts-73/sts-73-patch-small.gif HTTP/1.0" 200 4179
burger.letters.com - - [01/Jul/1995:00:00:12 -0400] "GET /images/NASA-logosmall.gif HTTP/1.0" 304 0
burger.letters.com - - [01/Jul/1995:00:00:12 -0400] "GET /shuttle/countdown/video/livevideo.gif HTTP/1.0" 200 0
205.212.115.106 - - [01/Jul/1995:00:00:12 -0400] "GET /shuttle/countdown/countdown.html HTTP/1.0" 200 3985
d104.aa.net - - [01/Jul/1995:00:00:13 -0400] "GET /shuttle/countdown/ HTTP/1.0" 200 3985
129.94.144.152 - - [01/Jul/1995:00:00:13 -0400] "GET / HTTP/1.0" 200 7074

In [ ]:
# lendo o arquivo dataset
ds = open('dataset_julho', 'r')
ds

In [ ]:
hosts = []
dias = []
urls = []
http = []
codes = []
sizes = []
# lendo as linhas do arquivo
for linha in ds.readlines():
  # pegando o host
  host = linha.split(' ')[0]
  hosts.append(host)
  # pegando o dia
  dia = linha.split(' ')[3].split(':')[0].strip('[')
  dias.append(dia)
  # pegando a URL
  url = linha.split(' ')[6]
  urls.append(url)
  # pegando o codigo HTTP
  code = linha.split(' ')[-2]
  codes.append(code)
  #pegando o tamanho da requisicao
  size = linha.split(' ')[-1].strip()
  sizes.append(size)
  http.append(linha.split()[-2])

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'hosts':  hosts,
    'http': http,
    'dias': dias, 
    'urls': urls, 
    'codes': codes, 
    'sizes': sizes
})

In [ ]:
display(df)

,hosts,http,dias,urls,codes,sizes
0,199.72.81.55,200,01/Jul/1995,/history/apollo/,200,6245
1,unicomp6.unicomp.net,200,01/Jul/1995,/shuttle/countdown/,200,3985
2,199.120.110.21,200,01/Jul/1995,/shuttle/missions/sts-73/mission-sts-73.html,200,4085
3,burger.letters.com,304,01/Jul/1995,/shuttle/countdown/liftoff.html,304,0
4,199.120.110.21,200,01/Jul/1995,/shuttle/missions/sts-73/sts-73-patch-small.gif,200,4179
...,...,...,...,...,...,...
4995,watermark.helix.net,200,01/Jul/1995,/shuttle/missions/sts-71/images/KSC-95EC-0544.txt,200,979
4996,bertppp1.cybernw.com,200,01/Jul/1995,/images/ksclogosmall.gif,200,3635
4997,ppp160.iadfw.net,200,01/Jul/1995,/shuttle/missions/sts-71/images/KSC-95EC-0915.jpg,200,39654
4998,bertppp1.cybernw.com,200,01/Jul/1995,/history/apollo/images/footprint-logo.gif,200,4209
4999,freenet.edmonton.ab.ca,200,01/Jul/1995,/shuttle/countdown/video/livevideo.jpeg,200,45029

In [ ]:
# removendo o '-' e substituindo por 0 (zero)
df['sizes'] = df['sizes'].replace({'-': 0})
df['sizes'].unique()

array(['6245', '3985', '4085', '0', '4179', '7074', '40310', '786',
       '1204', '1713', '3977', '34029', '11473', '6723', '12054', '5866',
       '61716', '101267', '363', '234', '669', '12040', '49152', '77163',
       '1382', '9867', '25218', '1414', '4441', '42732', '110', '7634', 0,
       '55666', '13372', '18149', '1224', '70712', '2261', '6168', '8677',
       '11853', '16991', '3214', '4377', '52491', '5998', '6922', '11417',
       '4151', '305722', '3635', '1932', '3293', '45798', '4538',
       '130724', '47122', '31631', '689', '1387', '62761', '509', '527',
       '2489', '2537', '1391', '11757', '5544', '2244', '96', '12283',
       '9630', '657', '1038', '9379', '95', '4347', '20484', '647168',
       '58026', '3092', '130811', '17459', '18114', '49087', '12859',
       '5736', '5052', '73728', '110875', '1502', '4209', '7008', '61848',
       '13116', '44467', '111', '29634', '141308', '3258', '235862',
       '3047', '32187', '21408', '84907', '71024', '4325', '8083',
       '17083', '68', '26990', '4045', '35709', '45518', '891', '957',
       '8368', '374', '172498', '98', '1596', '3850', '602', '530',
       '43974', '203429', '30995', '51398', '3752', '13469', '5026',
       '1687', '65536', '27063', '263', '46888', '1457', '17314', '36902',
       '28219', '3459', '651', '1871', '501126', '48725', '6588',
       '162605', '86381', '127775', '1124', '19084', '1173', '131072',
       '1117', '21277', '1708', '172537', '75100', '200053', '1424',
       '75344', '56275', '1393', '84494', '100705', '6104', '16102',
       '10495', '308', '53003', '3090', '74691', '1879', '3373', '16890',
       '1289', '78295', '60280', '75142', '45966', '1583', '32303',
       '3723', '31242', '945', '64910', '125771', '23052', '106496',
       '73231', '58414', '3707', '25814', '2653', '57344', '1732',
       '39654', '28426', '73132', '116798', '381', '1081049', '32252',
       '9202', '78588', '372', '3274', '149444', '122880', '368', '2722',
       '298302', '85', '22096', '316', '3680', '16184', '1404', '377',
       '4717', '193700', '12686', '6023', '10371', '7025', '173919',
       '712', '1639', '19547', '3442', '152676', '946425', '1221',
       '103193', '1440', '3071', '29823', '1395', '3109', '23416', '1699',
       '45970', '139264', '35624', '1429', '36098', '86984', '966',
       '7083', '70412', '101647', '87766', '678', '8149', '48591',
       '79791', '47296', '35540', '1157', '64939', '1431', '653', '10099',
       '7124', '71311', '378', '2032', '80678', '3601', '14108', '144114',
       '47592', '25439', '6685', '104916', '2938', '64427', '66202',
       '71656', '81920', '258839', '106535', '48305', '1301', '326',
       '796', '98304', '55569', '17688', '48682', '127045', '1851',
       '66764', '5086', '218390', '21957', '372172', '515', '516688',
       '39017', '70191', '1341', '3842', '16979', '72102', '70128',
       '154223', '47699', '2178', '16966', '70165', '49449', '9732',
       '25257', '96036', '2582', '14136', '13218', '71743', '99942',
       '49425', '543', '4995', '1389', '2424', '421', '16187', '2355',
       '32511', '76706', '257194', '1405', '10877', '375', '2700',
       '72666', '948', '1585', '6923', '262144', '979', '24522', '73226',
       '96255', '1121554', '97', '30232', '115599', '19320', '4464',
       '240531', '153725', '3995', '16562', '132627', '198285', '52701',
       '6943', '100851', '14298', '155648', '30067', '2522', '4452',
       '614799', '8089', '3057', '1284', '32019', '59520', '1396',
       '49223', '221184', '79088', '85750', '114688', '45632', '1283',
       '622', '78382', '754', '49555', '26838', '726', '662', '3933',
       '77', '125249', '17866', '801', '163840', '702', '429', '1009',
       '1380', '50907', '140644', '87210', '1400', '55339', '3549',
       '11326', '72', '52179', '1434', '593699', '1392', '3510', '11236',
       '36095', '280014', '51951', '100', '237568', '61888', '37803',
       '41397', '38730', '11175', '2000', '494', '479', '483', '21793',
       '3440', '13539', '119594', '94578', '10966', '3650', '142215',
       '38023', '2823', '13982', '7318', '1900', '47689', '22972',
       '36712', '68396', '3626', '2210', '7890', '9925', '306', '54279',
       '1055', '1165', '53744', '297851', '1506', '2286', '3530',
       '190269', '971', '84638', '6861', '727', '1291', '15121', '1625',
       '33199', '2485', '335872', '15815', '887988', '402466', '52938',
       '161922', '180224', '55030', '835394', '56807', '20271', '2638',
       '58537', '569688', '1325', '703', '56957', '13775', '47145',
       '2657', '14977', '2343', '229376', '2909', '20903', '61672',
       '1430', '109358', '67065', '2044', '70554', '31725', '2563',
       '66420', '1731', '499712', '1190', '1747', '40960', '29255',
       '65240', '74267', '20575', '25570', '181519', '25465', '15522',
       '199746', '107469', '114', '79452', '28245', '6596', '90112',
       '45832', '3239', '45409', '169883', '1725', '13586', '4127',
       '11396', '51939', '5609', '12238', '6867', '11136', '47000',
       '12070', '13393', '4583', '10923', '45476', '6369', '16148',
       '5448', '11534', '28847', '27951', '4042', '61335', '10600',
       '65315', '3612', '14915', '65451', '188416', '5322', '9490',
       '69196', '5787', '13740', '5812', '23764', '6241', '12449', '4640',
       '30037', '11763', '32818', '7116', '9581', '28360', '14176',
       '57216', '136806', '67171', '4722', '172032', '215411', '65941',
       '65734', '47245', '175621', '65123', '134392', '3938', '45308',
       '1712', '7746', '9851', '117170', '47468', '543680', '24570',
       '65710', '64692', '270336', '274059', '283389', '64448', '401408',
       '65171', '44018', '79', '3389', '7230', '159813', '21464', '65119',
       '2482', '11644', '64854', '3653', '64715', '173983', '1815',
       '44939', '65523', '44847', '44843', '45029'], dtype=object)

In [ ]:
# garantindo que não há mais tamanhos com '-' (hifen)
df.loc[df['sizes']=='-']

Empty DataFrame
Columns: [hosts, http, dias, urls, codes, sizes]
Index: []

In [ ]:
dados = df['http'].nunique()
dados

4

In [ ]:
dados = pd.unique(df['hosts'])

In [ ]:
#O total de erros 404
#As 5 URLs que mais causaram erro 404.
#Quantidade de erros 404 por dia.
#O total de bytes retornados.
cont_unico_error404 = 0
for http in df['codes']:
  if http == '404':
      cont_unico_error404 +=1

print(f'O valor total de erros no mes de julho é de {cont_unico_error404} erros')

O valor total de erros no mes de julho é de 27 erros

In [ ]:
df.loc[df['codes']=='404',['urls','codes']].groupby(['urls'])

In [ ]:
! git clone https://github.com/leonardoamorim/flightdelays

Cloning into 'flightdelays'...
remote: Enumerating objects: 5, done.
remote: Counting objects: 100% (5/5), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 5 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (5/5), done.

In [ ]:
! ls flightdelays

flight_delays1.csv  flight_delays2.csv	flight_delays3.csv

In [ ]:
! head flight_delays1.csv

head: cannot open 'flight_delays1.csv' for reading: No such file or directory

# Nova seção

In [ ]:
df = open('flightdelays/flight_delays1.csv')

head: cannot open 'flight_delays1.csv' for reading: No such file or directory